# Лог-файлы
*.log

# Системные файлы Windows
Desktop.ini
Thumbs.db

# Файлы иконок
*.ico

# Временные файлы
*.tmp
*.temp
*.pyc
__pycache__/

# Виртуальные окружения (кроме .venv в подпапках)
# .venv/

# Файлы среды
.env